<div class="row" class="tips-item">
    <div class="col-sm-12 col-md-8">
        <h3>{{ title }}</h3>
        <p>{{ tip }}</p>
    </div>
</div>
{{!-- <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
<script src='public/js/tips.js'></script> --}}