
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>Traveling Ducks</title>
  <link rel="stylesheet" href="/public/css/bootstrap.css">
  <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>
   <div class="logo">
     <a href="home">
     <img src="/public/images/logo.png" alt="logo" >
     </a>
    </div>
        
   <div class="menubar">
    <a href="home">Home</a>
    <a href="tips"> Travel Tips</a>
    <a href="whattodo">Travel Posts</a>
    <a href="polls">Polls</a>
    <a href="newtip">Add a New Tip</a>
    <a href="newpost">Add a New Post</a>
    <a href="newpoll">Add a New Poll</a>

    </div>
    <main>
      {{{body}}}
      <nav>
        <a href="http://localhost:3000/logout">Log Out</a><br>
        <a href="http://localhost:3000/delete">Delete Account!</a>
      </nav>
    </main>
    


  <!-- <footer>Made for CS546</footer> -->

 <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
      crossorigin="anonymous"></script>
  <script src = "public/css/main.css"
  {{!-- <script src='public/js/tips.js'></script> --}}

</body>
</html>