{{#if error}}
  <p>Enter Both a Poll Question!</p>
{{/if}}

<div class="main">
    <p>
        <h1>Travel Polls</h1> 
        <h3>Please answer the following:</h3>
    </p>
</div>

<div class="row">
    <div class="new_poll">
        <form id="new-poll-form" action = "/poll" method = "post">
            <div class="container">
                <label for="pollQ"><b>Poll Question:</b></label> 
                <input id="pollQ" name="pollQ" type="text" placeholder="Enter Your Poll Question"><br>
                <label for="pollAnswerOne"><b>Answer 1:</b>
                <input id="pollAnswerOne" name="pollAnswerOne" rows="4" cols="50" placeholder="Answer 1">
                <label for="pollAnswerTwo"><b>Answer 1:</b>
                <input id="pollAnswerTwo" name="pollAnswerTwo" rows="4" cols="50" placeholder="Answer 1">
                <label for="pollAnswerOne"><b>Answer 1:</b>
                <input id="pollAnswerOne" name="pollAnswerOne" rows="4" cols="50" placeholder="Answer 1">
                <button type="submit">Post Tip!</button>
            </div>
        </form>
    </div>
    <div class="col-sm-12 col-md-6" id="tips-area">
        {{#each tipsItems}} {{> tips_item }} {{/each}}
    </div>
    <div id="new-content">
    </div>
</div>

