<article class="new-tip">
  <h1>Make a New Tip!</h1>
  <form action="/tips" method="POST" class="new-tip-form">
      <label>Tip Title <br><input id="new-task-name" type="text"/></label>
      <label>Tip Description <br><textarea id="new-task-description" rows="4" cols="50"></textarea></label>
      <input type="submit" value="Post Tip"/>
  </form>
</article>
