div {
    background-color: #025492;
}

.menubar {
    background-color: #f8cf40;
    overflow: hidden;
}

.menubar a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .menubar a:hover {
    background-color: #ddd;
    color: black;
  }

  .about {
      background-color: white;
  }

  h1, h2 {
      text-align: center;
  }