body {
	background: white

}

main {
	max-width: 100%;
	margin: auto;
}

header {
	border-bottom: 1px solid #afafaf;
}

.post {
	width: 75%;
	border-bottom: 1px dashed #333;
}

.new-post-form {
	max-width: 300px;
}

.new-post-form .full-width-input {
	display: block;
	min-height: 3em;
	margin: 10px 0;
	width: 100%;
}

label {
	font-weight: bold;
}

.error-list li {
	color: #ff0000;
}

.author-link,
.author-link:link {
	color: #228b22;
}

.author-link:visited {
	font-style: italic;
	color: saddlebrown;
}

.author-link:hover {
	font-style: normal;
	font-weight: 700;
}

.author-link:active {
	color: #ff0000;
}


div {
    background-color: #025492;
    align-content: center;
   
}

.menubar {
    background-color: #f8cf40;
    overflow: hidden;
}

.menubar a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .menubar a:hover {
    background-color: #025492;
    color: white;
  }

  .about {
      background-color: white;
  }

  h1, h2 {
      text-align: center;
  }

label {
    font-size: 12pt;
}

.main {
    background-color: white;
}

.newtip {
	align-items: center;
}