<div class="about">
    <p>
        <h1>We are the Traveling Ducks!</h1> 
        <h2>There's David, Himanshu, Matthew, and Pierce. </h2>
        <br><br><br>
        <div class="nicepic">
            <img alt="beach" class="center" src="https://ssl.tzoo-img.com/images/blog/legacyblog/us/wp-content/uploads/2018/02/1_BoracayIsland_WhiteBeach_Philippines_shutterstock_401484094.jpg?width=412&amp;spr=3" data-noaft="1" jsname="HiaYvf" jsaction="load:XAeZkd;" style="width: 150px; height: 100px; margin: 0px;">
        </div>
        <h3>We hope you find your next crazy vacation spot!</h3>
        <img alt="Paris" class="center" src="https://media.cntraveler.com/photos/5ca4f3ee7b531a1378949c83/master/w_420,c_limit/Paris_GettyImages-1064511232.jpg" title="">
    </p>   
</div>