<!--TODO: This page should only be to display data from the poll object, retrieved from the Mongo database-->

<!--
   <form>
    <label>
      Choose the best city to visit: 
      <input type="radio" name="city" value="NYC"/> NYC
      <input type="radio" name="city" value="Los Angeles"/> Los Angeles
      <input type="radio" name="city" value="Chicago"/> Chicago 
    </label>
  </form>
-->


<div class="form-style-2">
<div class="form-style-2-heading">Pick Your Favorite City!</div>
<form action="" method="post">
  <input type="radio" id="nyc" class="city">
  <label for="nyc">New York City</label><br>
  <input type="radio" id="paris" class="city">
  <label for="paris">Paris</label><br>
  <input type="radio" id="istanbul" class="city">
  <label for="istanbul">Istanbul</label>
  <label for="field5"><span>Reason<span class="required">*</span></span><textarea name="field5" class="textarea-field"></textarea></label>
  <label><span> </span><input type="submit" value="Submit" /></label>
</form>
</div>