<!--TODO: This page should only be to display data from the poll object, retrieved from the Mongo database-->

<!--
   <form>
    <label>
      Choose the best city to visit: 
      <input type="radio" name="city" value="NYC"/> NYC
      <input type="radio" name="city" value="Los Angeles"/> Los Angeles
      <input type="radio" name="city" value="Chicago"/> Chicago 
    </label>
  </form>
-->


<div class="form-style-2">
<div class="form-style-2-heading">Which City is the Best for a Summer Stroll?</div>
{{!-- <form id="cityform" name="cityform"> --}}
  <form id="paris">
    <button type="submit">Paris!</button>
  </form>
  <form id="nyc">
    <button type="submit">New York City!</button>
  </form>
  <form id="istanbul">
    <button type="submit">Istanbul!</button>
  </form>
{{!-- </form> --}}
</div>
<div id="piechart" name="piechart"></div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src = "public/js/pie.js"></script>