  <form>
    <label>
      Choose the best city to visit: 
      <input type="radio" name="city" value="NYC"/> NYC
      <input type="radio" name="city" value="Los Angeles"/> Los Angeles
      <input type="radio" name="city" value="Chicago"/> Chicago 
    </label>
  </form>