<section>
<<<<<<< HEAD
  <div class="main">
      <p>
          <h1>Find all of the best travel hacks.</h1>
          <h2>Make traveling so much easier from tips by our users.</h2>
           <a href="tips/new">Add a Tip</a>
      </p>
  </div>
  
 
=======
  <h1>Find all of the best travel tips and hacks.</h1>
  <a href="tips/new">Add a New Tip</a>
  <br>
>>>>>>> working-routes

  {{#each posts}}
    <article class="tip">
      <h2><a href="/tips/{{_id}}">{{title}}</a></h2>
      <p>{{body}}</p>
    </article>
  {{/each}}
</section>
