<div class="main">
    <p>
        <h1>Find all of the best travel hacks.</h1> 
        <h2>Make traveling so much easier from tips by our users.</h2>
    </p>
</div>

<div class="row">
    <div class="col-sm-12 col-md-6" id="todo-area">
        {{#each todoItems}} {{> todo_item }} {{/each}}
    </div>
    <div id="new-content">
    </div>
    <div class="new_tip">
        <form id="new-item-form">
            <label>Tip Title: <input id="new-task-name" type="text" /></label><br>
            <label>Tip Description: <textarea id="new-task-description" rows="4" cols="50"></textarea></label>
            <input type="submit" value="Post Tip" />
        </form>
    </div>
</div>

