<div class="main">
    <p>
        <h1>Find all of the best travel hacks.</h1>
        <h2>Make traveling so much easier from tips by our users.</h2>
    </p>
</div>

<div class="row">
    <!-- <div class="new_tip">
        <form id="new-tips-form" action = "/tips" method = "post">
            <div class="container">
                <label for="title"><b>Tip Title:</b></label>
                <input id="title" name="title" type="text" placeholder="Enter Title"><br>
                <label for="description"><b>Tip Description:</b>
                <input id="description" name="description" rows="4" cols="50" placeholder="Enter Tip">
                <button type="submit">Post Tip!</button>
            </div>
        </form>
    </div> -->
    <div class="col-sm-12 col-md-6" id="tips-area">
        {{#each tipsItems}} {{> tips_item }} {{/each}}
    </div>
    <div id="new-content">
    </div>
    <div class="new_tip">
      <a href="tips/new">Add a New Tip</a>
        <!-- <form onsubmit "return tip_items()" id="new-item-form">
            <label>Tip Title <br><input id="new-task-name" type="text"/></label>
            <label>Tip Description <br><textarea id="new-task-description" rows="4" cols="50"></textarea></label>
            <input type="submit" value="Add new task"/>
        </form> -->
    </div>
</div>
