{{#if error}}
  <p>Enter Both a Title and Description!</p>
{{/if}}

<div class="main">
    <p>
        <h1>Find all of the best travel hacks.</h1> 
        <h2>Make traveling so much easier from tips by our users.</h2>
    </p>
</div>

<div class="row">
    <div class="new_tip">
        <form id="new-tips-form">
            <div class="container">
                <label for="title"><b>Tip Title:</b></label> 
                <input id="title" name="title" type="text" placeholder="Enter Title"><br>
                <label for="description"><b>Tip Description:</b>
                <input id="description" name="description" rows="4" cols="50" placeholder="Enter Tip">
                <button type="submit">Post Tip!</button>
            </div>
        </form>
    </div>
    <div class="col-sm-12 col-md-6" id="tips-area">
        {{#each tipsItems}} {{> tips_item }} {{/each}}
    </div>
    <div id="new-content">
    </div>
</div>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
{{!-- <script src='public/js/tips.js'></script> --}}

