<section>
  <h1>Find all of the best travel hacks.</h1>
<!--  <a href="tips/new">Add a Tip</a>-->

  {{#each posts}}
    <article class="tip">
      <h2><a href="/tips/{{_id}}">{{title}}</a></h2>
      <p>{{body}}</p>
    </article>
  {{/each}}
</section>
